body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f8f9fb;
}


.app-container {
  margin: 0;
  padding: 0;
}

.page {
  max-width: 800px;
  margin: 30px auto;
}

.page h2, .page h1 {
  color: #1c1c2c;
  margin-bottom: 20px;
}

.page ul {
  list-style: none;
  padding: 0;
}

.page li {
  background: #fff;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 6px;
}

.page blockquote {
  background: #fff;
  padding: 15px;
  border-left: 5px solid #7597de;
  margin-bottom: 15px;
  border-radius: 6px;
}

.page form input, .page form textarea {
  width: 100%;
  margin-bottom: 12px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.page form button {
  background: #1c1c2c;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.page .btn {
  display: inline-block;
  color: white;
  background: #1c1c2c;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}
